/* src/assets/fonts.css */
@font-face {
    font-family: 'Kantumruy Pro';
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
    src: url('/public/fonts/KantumruyPro-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Kantumruy Pro';
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
    src: url('/public/fonts/KantumruyPro-Italic-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Source Serif 4';
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
    src: url('/public/fonts/SourceSerif4-VariableFont_opsz,wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Source Serif 4';
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
    src: url('/public/fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
    src: url('/public/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
    src: url('/public/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Koulen';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/public/fonts/Koulen-Regular.ttf') format('ttf');
}